<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Difficulty</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Select Difficulty Level</h1>
        <button onclick="location.href='/game_board?difficulty=easy'" class="play-button">Easy</button>
        <button onclick="location.href='/game_board?difficulty=medium'" class="play-button">Medium</button>
        <button onclick="location.href='/game_board?difficulty=hard'" class="play-button">Hard</button>
        <button onclick="location.href='/game_board?difficulty=expert'" class="play-button">Expert</button>
    </div>
</body>
</html>
