<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Mode</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Select Game Mode</h1>
        <button onclick="location.href='/difficulty'" class="play-button">One Player</button>
        <button onclick="location.href='/two_players'" class="play-button">Two Players</button>
    </div>
</body>
</html>
